* {
  box-sizing: border-box;
  /* border: 1px solid black;
  outline: 1px solid black; */
  user-select: none;
}

.customMouse {
  top: -100px;
  left: 40px;
}

body {
  background-color: #1d9a6c;
}
#headings {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px auto;
  text-align: center;
}

span {
  border: 5px solid #56b870;
  padding: 20px;
  margin: 10px;
  font-size: 80px;
  color: white;
}

#startbtn {
  background-color: #bfe1b0;
  text-align: center;
  padding: 15px 50px;
  margin: 70px auto 30px auto;
  font-size: 25px;
  position: relative;
}

.gamecontainerone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
  width: 60%;
  row-gap: 90px;
  column-gap: -50px;
  justify-content: center;
}

h1 {
  display: inline;
  font-size: 50px;
  text-align: center;
}

.dirtimage {
  margin: -20px 50px;
  width: 250px;
  background-image: url(./colour-bg.png);
  background-size: 100% 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;
}

.moleimage {
  width: 120px;
  margin: 0 auto -300px;
  transform: translateY(130px);
  /* z-index: -1; */
}

.moleanimation {
  animation-name: popout;
  animation-duration: 0.5s;
}

@keyframes popout {
  0% {
    transform: translateY(120px);
  }
  25% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(-70px);
  }
  75% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(120px);
  }
}

#hammerpic {
  height: 300px;
  width: 300px;
  position: absolute;
  /* transform: translate(-35px, -110px); */
  z-index: 1;
  pointer-events: none;
}

.hideelement {
  display: none;
}

.flix {
  transform: rotate(-45deg);
}

.gothit {
  background-color: red;
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#localstorageinput {
  margin: 0 auot;
}

.nameandscore {
  display: flex;
  flex-direction: row;
}

#HallOfFame {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d9a6c;
}

.donotdrag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
